Source: pgcopydb
Section: database
Priority: optional
Maintainer: Dimitri Fontaine <dim@tapoueh.org>
Uploaders: Christoph Berg <myon@debian.org>
Build-Depends: debhelper (>= 12), flex, postgresql-server-dev-all (>= 158~), libedit-dev, libpam0g-dev, libreadline-dev, libselinux1-dev, libxslt1-dev, libssl-dev, libkrb5-dev, zlib1g-dev, python3-sphinx, liblz4-dev, libncurses-dev
Standards-Version: 4.5.1
Homepage: https://github.com/dimitri/pgcopydb

Package: pgcopydb
Architecture: any
Depends: ${shlibs:Depends},${misc:Depends}, postgresql-client-common
Description: Copy an entire PostgreSQL database from source to target
 This tool implements pg_dump | pg_restore on steroids, including advanced concurrency tricks to make the operation faster.
